.head {
    width: 88px;
    left: 272px;
    top: 150px;
    margin: 0 auto;
    height: 120px;
    content: '';
    background: #cc2317;
    border-radius: 130px;
    position: relative;
    z-index: 5;
}

.ear-left {
    position: absolute;
    background: #ffcd9e;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    top: 192px;
    left: 262px;
    z-index: 4;
}

.ear-right {
    position: absolute;
    background: #ffcd9e;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    top: 192px;
    left: 350px;
    z-index: 4;
}

.face {
    position: absolute;
    background: #f7cba1;
    border-radius: 14px;
    width: 70px;
    height: 40px;
    top: 180px;
    left: 281px;
    z-index: 5;
    animation: 2s mover infinite;
}

.eye-left {
    position: absolute;
    background: #000000;
    border: 5px solid #fff;
    border-radius: 50%;
    width: 5px;
    height: 5px;
    top: 195px;
    left: 323px;
    z-index: 5;
    animation: 2s mover infinite;
}

.eye-right {
    position: absolute;
    background: #000000;
    border: 5px solid #fff;
    border-radius: 50%;
    width: 5px;
    height: 5px;
    top: 195px;
    left: 295px;
    z-index: 5;
    animation: 2s mover infinite;
}

.ceja-left {
    position: absolute;
    background: #cc2317;
    border-radius: 10px;
    width: 19px;
    height: 7px;
    top: 187px;
    left: 292px;
    z-index: 5;
    animation: 2s mover infinite;
}

.ceja-right {
    position: absolute;
    background: #cc2317;
    border-radius: 10px;
    width: 19px;
    height: 7px;
    top: 187px;
    left: 323px;
    z-index: 5;
    animation: 2s mover infinite;
}

.nose {
    position: absolute;
    background: #f7cba1;
    border-radius: 50%;
    width: 18px;
    height: 18px;
    top: 215px;
    left: 307px;
    z-index: 5;
    animation: 2s mover infinite;
}


.body {
    position: absolute;
    background: #ffffff;
    border-radius: 50px 50px 50px 50px;
    width: 100px;
    height: 130px;
    top: 215px;
    left: 266px;
    z-index: 4;
}

.arm-left {
    position: absolute;
    content: '';
    background: #ffffff;
    border-radius: 50px 50px;
    width: 30px;
    height: 60px;
    top: 255px;
    left: 247px;
    z-index: 4;
}

.arm-right {
    position: absolute;
    content: '';
    background: #ffffff;
    border-radius: 50px 50px;
    width: 30px;
    height: 60px;
    top: 255px;
    left: 350px;
    z-index: 4;
}

.fot-left {
    position: absolute;
    content: '';
    background: #ffffff;
    border-radius: 50px 50px;
    width: 20px;
    height: 60px;
    top: 315px;
    left: 295px;
    z-index: 4;
}

.fot-right {
    position: absolute;
    content: '';
    background: #ffffff;
    border-radius: 50px 50px;
    width: 20px;
    height: 60px;
    top: 315px;
    left: 315px;
    z-index: 4;
}

.mouth {
    position: absolute;
    content: '';
    background: #4e1d1d;
    border-radius: 0 0 50px 50px;
    width: 35px;
    height: 20px;
    top: 238px;
    left: 299px;
    z-index: 5;
    overflow: hidden;
    animation: 2s mover infinite;
}

.mouth::before {
    position: absolute;
    content: '';
    background: #e26868;
    border-radius: 50%;
    width: 25px;
    height: 20px;
    left: 4px;
    z-index: 4;
    bottom: -10px;
    animation: 2s mover infinite;
}

.headDead {
    width: 88px;
    left: 979px;
    top: 499px;
    margin: 0 auto;
    height: 100px;
    content: '';
    background: #4e9e66;
    border-radius: 130px 130px 0 0;
    position: relative;
    z-index: 5;
}

.ear-leftDead {
    position: absolute;
    background: #ffcd9e;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    top: 663px;
    left: 970px;
    z-index: 4;
}

.ear-rightDead {
    position: absolute;
    background: #ffcd9e;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    top: 663px;
    left: 1056px;
    z-index: 4;
}

.faceDead {
    position: absolute;
    background: #f7cba1;
    border-radius: 14px;
    width: 70px;
    height: 40px;
    top: 663px;
    left: 988px;
    z-index: 6;
}

.eye-leftDead1 {
    position: absolute;
    background: #000000;
    border-radius: 14px;
    width: 5px;
    height: 20px;
    top: 668px;
    left: 1005px;
    z-index: 6;
    transform: rotate(45deg);
    animation: 2s brincar infinite;
}

.eye-rightDead1 {
    position: absolute;
    background: #000000;
    border-radius: 14px;
    width: 5px;
    height: 20px;
    top: 668px;
    left: 1005px;
    z-index: 6;
    transform: rotate(-45deg);
    animation: 2s brincar infinite;
}

.eye-leftDead2 {
    position: absolute;
    background: #000000;
    border-radius: 14px;
    width: 5px;
    height: 20px;
    top: 668px;
    left: 1035px;
    z-index: 6;
    transform: rotate(45deg);
    animation: 2s brincar infinite;
}

.eye-rightDead2 {
    position: absolute;
    background: #000000;
    border-radius: 14px;
    width: 5px;
    height: 20px;
    top: 668px;
    left: 1035px;
    z-index: 6;
    transform: rotate(-45deg);
    animation: 2s brincar infinite;
}

@keyframes mover {
    0% {
        transform: translateX(-3px);
    }
    50% {
        transform: translateX(3px);
    }
    100% {
        transform: translateX(-3px);
    }
}

@keyframes brincar {
    0% {

    }
    50% {
        width: 5px;
        height: 25px;
    }
    100% {
        
    }
}